html, body {
    height: 100%;
}


body {
    background-image: url('./img/main1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 250px;
    max-height: 250px;
    margin-left: 20px;
    margin-top: -100px;
}

.logo1 {
    max-width: 250px;
    max-height: 250px;
    margin-left: 1350px;
    margin-top: -100px;
}

.card1 {
    max-width: 450px;
    max-height: 450px;
    margin-left: 115px;
}

.card2 {
    max-width: 380px;
    max-height: 380px;
    margin-left: 165px;
}

.card3 {
    max-width: 450px;
    max-height: 450px;
    margin-left: 165px;
}

nav {
    color: #fff;
    padding: 10px;
}

.main-content {
    padding: 20px;
}

.link {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    background-color: grey;
    border-radius: 5px;
    color: #fff;
    padding: 15px 50px;
    transition: all 0.8s ease 0s;
    margin-top: 60px;
    margin-left: 230px;
}

.link:hover{
    background-color: gainsboro;

}

.link1 {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    background-color: grey;
    border-radius: 5px;
    color: #fff;
    padding: 15px 50px;
    transition: all 0.8s ease 0s;
    margin-top: 60px;
    margin-left: 430px;
}

.link1:hover{
    background-color: gainsboro;

}

.link2 {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    background-color: grey;
    border-radius: 5px;
    color: #fff;
    padding: 15px 50px;
    transition: all 0.8s ease 0s;
    margin-top: 60px;
    margin-left: 430px;
}

.link2:hover{
    background-color: gainsboro;

}

#callback{
    width: 300px;
    height: 150px;
    background-color: grey;
    position: absolute;
    bottom: 30px;
    transform: translateX(-100%);
}

#callback p{
    color: #fff;
    padding: 22px;
}

#callback:after{
    content: 'О компании';
    background-color: gray;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    width: 150px;
    position: absolute;
    left: 300px;
    transform: rotate (-90deg);
    transform-origin: 0 0;
}

#callback:hover{
    transform: translateX(0);
    transition: all 0.9s ease;
}

#callback:not(:hover){
    transition: all 1.1s ease;
}


.mercedes{
    width: 89px;
    height: 100%;
    position: relative;
    -webkit-animation: spin 2s ease-in-out;
    animation: spin 4s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    margin: 50px auto;
}

.circulo{
	 width: 80px;
    height: 80px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border: 4px solid black
}

.bar,.bar::before,.bar::after{
    position: absolute;
    border-right: 3px solid transparent;
    border-bottom: 40px solid white;
    border-left: 3px solid transparent;
}
.bar{
      top: 9%;
    left: 47%;
}
.bar::before{
    content: "";
    top: 25px;
    left: -20px;
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
.bar::after{
    content: "";
    top: 26px;
    left: 12px;
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
@keyframes spin{
	25%{ transform: rotate(0deg);}
	50% {transform: rotate(120deg);}
	75%{transform: rotate(240deg);}
	100% {transform: rotate(360deg);}
}
	
